body {
    max-width: 1200px;
    margin: 0 auto;
}


.form {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 30%;

    &__input {
        margin: 10px;
        height: 30px;
        padding-left: 15px;
        border-radius: 5px;

        text-transform: uppercase;
    }

    &__button {
        margin-top: 25px;
        background-color: white;
        text-transform: uppercase;
        height: 30px;
        width: 150px;
        border-radius: 5px;
    }

    &__button:hover {
        background-color: #3155c9;
        color: white;
        cursor:pointer;
    }
}