<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>control-panel</title>

    <link rel="stylesheet" href="/css/control-panel.css">
</head>

<body>
    <div class="navigation">
        <div class="navigation__item button">
            log out
        </div>
    </div>

    <div class="content">
        <div class="menu">

            <div class="menu__title">
                resources
            </div>

            <div class="menu__item button">
                users
            </div>

            <div class="menu__item button">
                products
            </div>

            <div class="menu__item button">
                role
                <!--onli root-->
            </div>

            <div class="menu__item button">
                system users
            </div>

        </div>

        <div class="main">

            <table class="table">
                <thead class="table__head">

                    <tr class="table__row">
                        <th class="table__item">id</th>
                        <th class="table__item">chat id</th>
                        <th class="table__item">bought products</th>
                        <th class="table__item">commands</th>
                    </tr>

                </thead>

                <tbody class="table__body">

                    <tr class="table__row">
                        <td class="table__item">1</td>
                        <td class="table__item">74654746</td>
                        <td class="table__item">3</td>

                        <!-- COMMANDS-COLUMN -->
                        <td class="table__item">

                            <!-- COMMANDS -->
                            <div class="commands">
                                <div class="commands__item">
                                    <img class="commands__item-icon" src="/assets/icons/contact.svg" alt="contact">
                                </div>
                                <div class="commands__item">
                                    <img class="commands__item-icon" src="/assets/icons/edit.svg" alt="edit">
                                </div>
                                <div class="commands__item">
                                    <img class="commands__item-icon" src="/assets/icons/delete.svg" alt="delete">
                                </div>
                            </div>

                        </td>

                    </tr>
                    <tr class="table__row">
                        <td class="table__item">1</td>
                        <td class="table__item">74654746</td>
                        <td class="table__item">3</td>

                        <!-- COMMANDS-COLUMN -->
                        <td class="table__item">

                            <!-- COMMANDS -->
                            <div class="commands">
                                <div class="commands__item">
                                    <img class="commands__item-icon" src="/assets/icons/contact.svg" alt="contact">
                                </div>
                                <div class="commands__item">
                                    <img class="commands__item-icon" src="/assets/icons/edit.svg" alt="edit">
                                </div>
                                <div class="commands__item">
                                    <img class="commands__item-icon" src="/assets/icons/delete.svg" alt="delete">
                                </div>
                            </div>

                        </td>
                    </tr>

                    <tr class="table__row">
                        <td class="table__item">1</td>
                        <td class="table__item">74654746</td>
                        <td class="table__item">3</td>

                        <!-- COMMANDS-COLUMN -->
                        <td class="table__item">

                            <!-- COMMANDS -->
                            <div class="commands">
                                <div class="commands__item">
                                    <img class="commands__item-icon" src="/assets/icons/contact.svg" alt="contact">
                                </div>
                                <div class="commands__item">
                                    <img class="commands__item-icon" src="/assets/icons/edit.svg" alt="edit">
                                </div>
                                <div class="commands__item">
                                    <img class="commands__item-icon" src="/assets/icons/delete.svg" alt="delete">
                                </div>
                            </div>

                        </td>
                    </tr>

                    <tr class="table__row">
                        <td class="table__item">1</td>
                        <td class="table__item">74654746</td>
                        <td class="table__item">3</td>

                        <!-- COMMANDS-COLUMN -->
                        <td class="table__item">

                            <!-- COMMANDS -->
                            <div class="commands">
                                <div class="commands__item">
                                    <img class="commands__item-icon" src="/assets/icons/contact.svg" alt="contact">
                                </div>
                                <div class="commands__item">
                                    <img class="commands__item-icon" src="/assets/icons/edit.svg" alt="edit">
                                </div>
                                <div class="commands__item">
                                    <img class="commands__item-icon" src="/assets/icons/delete.svg" alt="delete">
                                </div>
                            </div>

                        </td>
                    </tr>

                    <tr class="table__row">
                        <td class="table__item">1</td>
                        <td class="table__item">74654746</td>
                        <td class="table__item">3</td>

                        <!-- COMMANDS-COLUMN -->
                        <td class="table__item">

                            <!-- COMMANDS -->
                            <div class="commands">
                                <div class="commands__item">
                                    <img class="commands__item-icon" src="/assets/icons/contact.svg" alt="contact">
                                </div>
                                <div class="commands__item">
                                    <img class="commands__item-icon" src="/assets/icons/edit.svg" alt="edit">
                                </div>
                                <div class="commands__item">
                                    <img class="commands__item-icon" src="/assets/icons/delete.svg" alt="delete">
                                </div>
                            </div>

                        </td>
                    </tr>

                    <tr class="table__row">
                        <td class="table__item">1</td>
                        <td class="table__item">74654746</td>
                        <td class="table__item">3</td>

                        <!-- COMMANDS-COLUMN -->
                        <td class="table__item">

                            <!-- COMMANDS -->
                            <div class="commands">
                                <div class="commands__item">
                                    <img class="commands__item-icon" src="/assets/icons/contact.svg" alt="contact">
                                </div>
                                <div class="commands__item">
                                    <img class="commands__item-icon" src="/assets/icons/edit.svg" alt="edit">
                                </div>
                                <div class="commands__item">
                                    <img class="commands__item-icon" src="/assets/icons/delete.svg" alt="delete">
                                </div>
                            </div>

                        </td>
                    </tr>

                    <tr class="table__row">
                        <td class="table__item">1</td>
                        <td class="table__item">74654746</td>
                        <td class="table__item">3</td>

                        <!-- COMMANDS-COLUMN -->
                        <td class="table__item">

                            <!-- COMMANDS -->
                            <div class="commands">
                                <div class="commands__item">
                                    <img class="commands__item-icon" src="/assets/icons/contact.svg" alt="contact">
                                </div>
                                <div class="commands__item">
                                    <img class="commands__item-icon" src="/assets/icons/edit.svg" alt="edit">
                                </div>
                                <div class="commands__item">
                                    <img class="commands__item-icon" src="/assets/icons/delete.svg" alt="delete">
                                </div>
                            </div>

                        </td>
                    </tr>

                    <tr class="table__row">
                        <td class="table__item">1</td>
                        <td class="table__item">74654746</td>
                        <td class="table__item">3</td>

                        <!-- COMMANDS-COLUMN -->
                        <td class="table__item">

                            <!-- COMMANDS -->
                            <div class="commands">
                                <div class="commands__item">
                                    <img class="commands__item-icon" src="/assets/icons/contact.svg" alt="contact">
                                </div>
                                <div class="commands__item">
                                    <img class="commands__item-icon" src="/assets/icons/edit.svg" alt="edit">
                                </div>
                                <div class="commands__item">
                                    <img class="commands__item-icon" src="/assets/icons/delete.svg" alt="delete">
                                </div>
                            </div>

                        </td>
                    </tr>

                    <tr class="table__row">
                        <td class="table__item">1</td>
                        <td class="table__item">74654746</td>
                        <td class="table__item">3</td>

                        <!-- COMMANDS-COLUMN -->
                        <td class="table__item">

                            <!-- COMMANDS -->
                            <div class="commands">
                                <div class="commands__item">
                                    <img class="commands__item-icon" src="/assets/icons/contact.svg" alt="contact">
                                </div>
                                <div class="commands__item">
                                    <img class="commands__item-icon" src="/assets/icons/edit.svg" alt="edit">
                                </div>
                                <div class="commands__item">
                                    <img class="commands__item-icon" src="/assets/icons/delete.svg" alt="delete">
                                </div>
                            </div>

                        </td>
                    </tr>

                    <tr class="table__row">
                        <td class="table__item">1</td>
                        <td class="table__item">74654746</td>
                        <td class="table__item">3</td>

                        <!-- COMMANDS-COLUMN -->
                        <td class="table__item">

                            <!-- COMMANDS -->
                            <div class="commands">
                                <div class="commands__item">
                                    <img class="commands__item-icon" src="/assets/icons/contact.svg" alt="contact">
                                </div>
                                <div class="commands__item">
                                    <img class="commands__item-icon" src="/assets/icons/edit.svg" alt="edit">
                                </div>
                                <div class="commands__item">
                                    <img class="commands__item-icon" src="/assets/icons/delete.svg" alt="delete">
                                </div>
                            </div>

                        </td>
                    </tr>

                </tbody>

            </table>

            <div class="pagination">

                <div class="pagination__item pagination__item-left"> < </div>
                        <div class="pagination__item">1</div>
                        <div class="pagination__item">...</div>
                        <div class="pagination__item">5</div>
                        <div class="pagination__item">...</div>
                        <div class="pagination__item">37</div>
                        <div class="pagination__item pagination__item-right"> > </div>
                </div>

            </div>

        </div>

</body>

</html>